@model FooterModel
@using Nas.Web.Models.Common;

<div class="footer">
    <div class="footer-poweredby">
        Powered by <a href="http://www.Nascommerce.com/">NasCommerce</a>
        @*Would you like to remove the "Powered by NasCommerce" link in the bottom of the footer?
            Find more info here http://www.Nascommerce.com/copyrightremoval.aspx*@
    </div>
    <div class="footer-disclaimer">
        @T("Content.CopyrightNotice", DateTime.Now.Year.ToString(), Model.StoreName)
    </div>
    <div class="footer-store-theme">
        @Html.Action("StoreThemeSelector", "Common")
    </div>
    @Html.Action("ChangeDeviceBlock", "Common")
    @Html.Widget("footer")
</div>
