<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
    <siteMapNode title="Home" controller="Home" action="Overview">
        <siteMapNode title="Dashboard" NasResource="Admin.Dashboard" controller="Home" action="Index" ImageUrl="~/Administration/Content/images/ico-dashboard.png" />
        <siteMapNode title="Catalog" NasResource="Admin.Catalog" PermissionNames="ManageProducts,ManageCategories,ManageManufacturers,ManageProductReviews,ManageProductTags,ManageAttributes" ImageUrl="~/Administration/Content/images/ico-catalog.png" >
            <siteMapNode title="Categories" NasResource="Admin.Catalog.Categories" PermissionNames="ManageCategories" >
                <siteMapNode title="List" NasResource="Admin.Common.List" controller="Category" action="List"/>
                <siteMapNode title="Tree view" NasResource="Admin.Common.Treeview" controller="Category" action="Tree"/>
            </siteMapNode>
            <siteMapNode title="Manufacturers" NasResource="Admin.Catalog.Manufacturers" PermissionNames="ManageManufacturers" controller="Manufacturer" action="List"/>
            <siteMapNode title="Products" NasResource="Admin.Catalog.Products" PermissionNames="ManageProducts,ManageProductReviews,ManageProductTags" >
              <siteMapNode title="Manage products" NasResource="Admin.Catalog.Products.Manage" PermissionNames="ManageProducts" controller="Product" action="List"/>
				      <siteMapNode title="Bulk edit product variants" NasResource="Admin.Catalog.BulkEdit" PermissionNames="ManageProducts" controller="ProductVariant" action="BulkEdit"/>
              <siteMapNode title="Product reviews" NasResource="Admin.Catalog.ProductReviews" PermissionNames="ManageProductReviews" controller="ProductReview" action="List"/>
              <siteMapNode title="Product tags" NasResource="Admin.Catalog.ProductTags" PermissionNames="ManageProductTags" controller="Product" action="ProductTags"/>
              <siteMapNode title="Low stock report" NasResource="Admin.Catalog.LowStockReport" PermissionNames="ManageProducts" controller="ProductVariant" action="LowStockReport"/>
            </siteMapNode>
            <siteMapNode title="Attributes" NasResource="Admin.Catalog.Attributes" PermissionNames="ManageAttributes">
              <siteMapNode title="Products attributes" NasResource="Admin.Catalog.Attributes.ProductAttributes" controller="ProductAttribute" action="List"/>
              <siteMapNode title="Specification attributes" NasResource="Admin.Catalog.Attributes.SpecificationAttributes" controller="SpecificationAttribute" action="List"/>
              <siteMapNode title="Checkout attributes" NasResource="Admin.Catalog.Attributes.CheckoutAttributes" controller="CheckoutAttribute" action="List"/>
            </siteMapNode>
        </siteMapNode>
        <siteMapNode title="Sales" NasResource="Admin.Sales" PermissionNames="ManageOrders,ManageRecurringPayments,ManageReturnRequests,ManageGiftCards,ManageCurrentCarts" ImageUrl="~/Administration/Content/images/ico-sales.png">
          <siteMapNode title="Orders" NasResource="Admin.Orders" PermissionNames="ManageOrders" controller="Order" action="List" />
          <siteMapNode title="Shipments" NasResource="Admin.Orders.Shipments.List" PermissionNames="ManageOrders" controller="Order" action="ShipmentList" />
          <siteMapNode title="Recurring payments" NasResource="Admin.RecurringPayments" PermissionNames="ManageRecurringPayments" controller="RecurringPayment" action="List" />
          <siteMapNode title="Return requests" NasResource="Admin.ReturnRequests" PermissionNames="ManageReturnRequests" controller="ReturnRequest" action="List" />
          <siteMapNode title="Gift cards" NasResource="Admin.GiftCards" PermissionNames="ManageGiftCards" controller="GiftCard" action="List" />
          <siteMapNode title="Current shopping carts" NasResource="Admin.CurrentCarts" PermissionNames="ManageCurrentCarts" controller="ShoppingCart" action="CurrentCarts" />
		      <siteMapNode title="Current wishlists" NasResource="Admin.CurrentWishlists" PermissionNames="ManageCurrentCarts" controller="ShoppingCart" action="CurrentWishlists" />
          <siteMapNode title="Bestsellers" NasResource="Admin.SalesReport.Bestsellers" PermissionNames="ManageOrders" controller="Order" action="BestsellersReport" />
		      <siteMapNode title="Products never purchased" NasResource="Admin.SalesReport.NeverSold" PermissionNames="ManageOrders" controller="Order" action="NeverSoldReport" />
        </siteMapNode>
        <siteMapNode title="Customers" NasResource="Admin.Customers" PermissionNames="ManageCustomers, ManageCustomerRoles" ImageUrl="~/Administration/Content/images/ico-customers.png" >
          <siteMapNode title="Customers" NasResource="Admin.Customers.Customers" PermissionNames="ManageCustomers" controller="Customer" action="List" />
          <siteMapNode title="Customer roles" NasResource="Admin.Customers.CustomerRoles" PermissionNames="ManageCustomerRoles" controller="CustomerRole" action="List" />
          <siteMapNode title="Online customers" NasResource="Admin.Customers.OnlineCustomers" PermissionNames="ManageCustomers" controller="OnlineCustomer" action="List" />
          <siteMapNode title="Customer reports" NasResource="Admin.Customers.Reports" PermissionNames="ManageCustomers" controller="Customer" action="Reports" />
          <siteMapNode title="Vendors" NasResource="Admin.Vendors" PermissionNames="ManageVendors" controller="Vendor" action="List" />
        </siteMapNode>
        <siteMapNode title="Promotions" NasResource="Admin.Promotions" PermissionNames="ManageAffiliates, ManageNewsletterSubscribers, ManageCampaigns, ManageDiscounts" ImageUrl="~/Administration/Content/images/ico-promotions.png">
          <siteMapNode title="Affiliates" NasResource="Admin.Affiliates" PermissionNames="ManageAffiliates" controller="Affiliate" action="List" />
          <siteMapNode title="Newsletter subscriptions" NasResource="Admin.Promotions.NewsletterSubscriptions" PermissionNames="ManageNewsletterSubscribers" controller="NewsLetterSubscription" action="List" />
          <siteMapNode title="Campaigns" NasResource="Admin.Promotions.Campaigns" PermissionNames="ManageCampaigns" controller="Campaign" action="List" />
          <siteMapNode title="Discounts" NasResource="Admin.Promotions.Discounts" PermissionNames="ManageDiscounts" controller="Discount" action="List" />
        </siteMapNode>
        <siteMapNode title="Content&#160;Management" NasResource="Admin.ContentManagement" PermissionNames="ManagePolls, ManageNews, ManageBlog, ManageWidgets, ManageTopics, ManageForums, ManageMessageTemplates" ImageUrl="~/Administration/Content/images/ico-content.png">
          <siteMapNode title="Polls" NasResource="Admin.ContentManagement.Polls" PermissionNames="ManagePolls" controller="Poll" action="List" />
          <siteMapNode title="News" NasResource="Admin.ContentManagement.News" PermissionNames="ManageNews">
            <siteMapNode title="News items" NasResource="Admin.ContentManagement.News.NewsItems" controller="News" action="List" />
            <siteMapNode title="News comments" NasResource="Admin.ContentManagement.News.Comments" controller="News" action="Comments"/>
          </siteMapNode>
          <siteMapNode title="Blog" NasResource="Admin.ContentManagement.Blog" PermissionNames="ManageBlog">
            <siteMapNode title="Blog posts" NasResource="Admin.ContentManagement.Blog.BlogPosts" controller="Blog" action="List" />
            <siteMapNode title="Blog comments" NasResource="Admin.ContentManagement.Blog.Comments" controller="Blog" action="Comments"/>
          </siteMapNode>
          <siteMapNode title="Widgets" NasResource="Admin.ContentManagement.Widgets" PermissionNames="ManageWidgets" controller="Widget" action="List" />
          <siteMapNode title="Topics" NasResource="Admin.ContentManagement.Topics" PermissionNames="ManageTopics" controller="Topic" action="List" />
          <siteMapNode title="Manage forums" NasResource="Admin.ContentManagement.Forums" PermissionNames="ManageForums" controller="Forum" action="List" />
          <siteMapNode title="Message templates" NasResource="Admin.ContentManagement.MessageTemplates" PermissionNames="ManageMessageTemplates" controller="MessageTemplate" action="List" />
        </siteMapNode>
        <siteMapNode title="Configuration" NasResource="Admin.Configuration" PermissionNames="ManageCountries,ManageLanguages,ManageSettings,ManagePaymentMethods,ManageExternalAuthenticationMethods,ManageTaxSettings,ManageShippingSettings,ManageCurrencies,ManageMeasures,ManageActivityLog,ManageACL,ManageEmailAccounts,ManagePlugins" 
					 ImageUrl="~/Administration/Content/images/ico-configuration.png">
          <siteMapNode title="Settings" NasResource="Admin.Configuration.Settings" PermissionNames="ManageSettings" >
            <siteMapNode title="General and common settings" NasResource="Admin.Configuration.Settings.GeneralCommon" controller="Setting" action="GeneralCommon"/>
            <siteMapNode title="Catalog settings" NasResource="Admin.Configuration.Settings.Catalog" controller="Setting" action="Catalog"/>
            <siteMapNode title="Customer and user settings" NasResource="Admin.Configuration.Settings.CustomerUser" controller="Setting" action="CustomerUser" />
            <siteMapNode title="Shopping cart settings" NasResource="Admin.Configuration.Settings.ShoppingCart" controller="Setting" action="ShoppingCart"/>
            <siteMapNode title="Order settings" NasResource="Admin.Configuration.Settings.Order" controller="Setting" action="Order"/>
            <siteMapNode title="Media settings" NasResource="Admin.Configuration.Settings.Media" controller="Setting" action="Media" />
            <siteMapNode title="Tax settings" NasResource="Admin.Configuration.Settings.Tax" controller="Setting" action="Tax"/>
            <siteMapNode title="Shipping settings" NasResource="Admin.Configuration.Settings.Shipping" controller="Setting" action="Shipping"/>
            <siteMapNode title="Reward points" NasResource="Admin.Configuration.Settings.RewardPoints" controller="Setting" action="RewardPoints"/>
            <siteMapNode title="Blog settings" NasResource="Admin.Configuration.Settings.Blog" controller="Setting" action="Blog" />
            <siteMapNode title="News settings" NasResource="Admin.Configuration.Settings.News" controller="Setting" action="News" />
            <siteMapNode title="Forums settings" NasResource="Admin.Configuration.Settings.Forums" controller="Setting" action="Forum" />
            <siteMapNode title="All settings (settings)" NasResource="Admin.Configuration.Settings.AllSettings" controller="Setting" action="AllSettings"/>
          </siteMapNode>
          <siteMapNode title="Stores" NasResource="Admin.Configuration.Stores" PermissionNames="ManageStores" controller="Store" action="List"/>
          <siteMapNode title="Countries" NasResource="Admin.Configuration.Countries" PermissionNames="ManageCountries" controller="Country" action="List"/>
          <siteMapNode title="Languages" NasResource="Admin.Configuration.Languages" PermissionNames="ManageLanguages" controller="Language" action="List"/>
          <siteMapNode title="Currencies" NasResource="Admin.Configuration.Currencies" PermissionNames="ManageCurrencies" controller="Currency" action="List"/>
          <siteMapNode title="Measures" NasResource="Admin.Configuration.Measures" PermissionNames="ManageMeasures">
            <siteMapNode title="Weights" NasResource="Admin.Configuration.Measures.Weights" controller="Measure" action="Weights"/>
            <siteMapNode title="Dimensions" NasResource="Admin.Configuration.Measures.Dimensions" controller="Measure" action="Dimensions"/>
          </siteMapNode>
          <siteMapNode title="EmailAccounts" NasResource="Admin.Configuration.EmailAccounts" PermissionNames="ManageEmailAccounts" controller="EmailAccount" action="List"/>
          <siteMapNode title="Payment methods" NasResource="Admin.Configuration.Payment.Methods" PermissionNames="ManagePaymentMethods" controller="Payment" action="Methods"/>
          <siteMapNode title="Tax" NasResource="Admin.Configuration.Tax" PermissionNames="ManageTaxSettings">
            <siteMapNode title="Tax providers" NasResource="Admin.Configuration.Tax.Providers" controller="Tax" action="Providers"/>
            <siteMapNode title="Tax categories" NasResource="Admin.Configuration.Tax.Categories" controller="Tax" action="Categories"/>
          </siteMapNode>
          <siteMapNode title="Shipping" NasResource="Admin.Configuration.Shipping" PermissionNames="ManageShippingSettings">
            <siteMapNode title="Shipping methods" NasResource="Admin.Configuration.Shipping.Methods" controller="Shipping" action="Methods"/>
            <siteMapNode title="Shipping method restrictions" NasResource="Admin.Configuration.Shipping.Restrictions" controller="Shipping" action="Restrictions"/>
            <siteMapNode title="Shipping providers" NasResource="Admin.Configuration.Shipping.Providers" controller="Shipping" action="Providers"/>
          </siteMapNode>
          <siteMapNode title="Activity Log" NasResource="Admin.Configuration.ActivityLog" PermissionNames="ManageActivityLog">
            <siteMapNode title="Activity Types" NasResource="Admin.Configuration.ActivityLog.ActivityLogType" controller="ActivityLog" action="ListTypes"/>
            <siteMapNode title="Activity Log" NasResource="Admin.Configuration.ActivityLog.ActivityLog" controller="ActivityLog" action="ListLogs"/>
          </siteMapNode>
          <siteMapNode title="Access control list" NasResource="Admin.Configuration.ACL" PermissionNames="ManageACL" controller="Security" action="Permissions" />
          <siteMapNode title="External authentication methods" NasResource="Admin.Configuration.ExternalAuthenticationMethods" PermissionNames="ManageExternalAuthenticationMethods" controller="ExternalAuthentication" action="Methods"/>
          <siteMapNode title="Plugins" NasResource="Admin.Configuration.Plugins" PermissionNames="ManagePlugins" controller="Plugin" action="List"/>
        </siteMapNode>
        <siteMapNode title="System" NasResource="Admin.System" PermissionNames="ManageSystemLog,ManageMessageQueue,ManageMaintenance,ManageScheduleTasks" ImageUrl="~/Administration/Content/images/ico-system.png">
            <siteMapNode title="Log" NasResource="Admin.System.Log" PermissionNames="ManageSystemLog" controller="Log" action="List" />
            <siteMapNode title="Queued emails" NasResource="Admin.System.QueuedEmails" PermissionNames="ManageMessageQueue" controller="QueuedEmail" action="List" />
            <siteMapNode title="Maintenance" NasResource="Admin.System.Maintenance" PermissionNames="ManageMaintenance" controller="Common" action="Maintenance" />
            <siteMapNode title="Schedule tasks" NasResource="Admin.System.ScheduleTasks" PermissionNames="ManageScheduleTasks" controller="ScheduleTask" action="List" />
            <siteMapNode title="Warnings" NasResource="Admin.System.Warnings" PermissionNames="ManageMaintenance" controller="Common" action="Warnings" />
            <siteMapNode title="System information" NasResource="Admin.System.SystemInfo" PermissionNames="ManageMaintenance" controller="Common" action="SystemInfo" />
            <siteMapNode title="Search engine friendly names" NasResource="Admin.System.SeNames" PermissionNames="ManageMaintenance" controller="Common" action="SeNames" />
        </siteMapNode>
        <siteMapNode title="Help" NasResource="Admin.Help" ImageUrl="~/Administration/Content/images/ico-help.png">
          <siteMapNode title="Help topics" NasResource="Admin.Help.Topics" url="http://www.Nascommerce.com/documentation.aspx" />
          <siteMapNode title="Community forums" NasResource="Admin.Help.Forums" url="http://www.Nascommerce.com/boards/" />
        </siteMapNode>
    </siteMapNode>
</siteMap>

